* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}


body {
  background: #f3f4f6;
  color: #111827;
}

/* Layout */
.container {
  padding: 48px;
  display: flex;
  justify-content: center;
}

/* Modal */
.modal {
  width: 360px;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px 20px 24px;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
}

.modal h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 14px;
  color: #111827;
}

/* Page Items */
.page-list {
  max-height: 220px;
  overflow-y: auto;
  margin: 10px 0 14px;
  padding-right: 6px;
}

.page-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 2px;
}

.page-label {
  color: #1F2128;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0px;
  vertical-align: middle;

}

/* Checkbox */
.page-item input {
  width: 16px;
  height: 16px;
  accent-color: #FFCE22;
  cursor: pointer;
}

/* Button */
.primary-btn {
  width: 100%;
  padding: 10px;
  background: #FFCE22;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: background 0.2s ease;
  color: #1F2128;
}



/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .modal {
    width: 100%;
  }
}